PROJECT_ID="your-project-id"
GOOGLE_APPLICATION_CREDENTIALS="path/to/your/serviceAccount.json"

OPENAI_API_KEY="your-openai-api-key"
ANTHROPIC_API_KEY="your-anthropic-api-key"
GEMINI_API_KEY="your-gemini-api-key"
ELEVENLABS_API_KEY="your-elevenlabs-api-key"

BUCKET_NAME="your-bucket-name"
APP_URL=http://localhost:8501
API_URL=http://localhost:8585