streamlit

fastapi
uvicorn
requests
httpx

openai
anthropic

numpy==1.24.3
pandas

python-multipart
python-slugify
python-dotenv
pydub

ruff
asyncio
pyperclip

firebase-admin
google-auth
google-cloud-storage
google-api-python-client
google-generativeai