fastapi
uvicorn
gunicorn
uvloop
fastapi-utilities

firebase-admin
google-api-python-client
google-auth
google-cloud-storage
google-generativeai
google-genai==1.10.0

asyncio
httpx
redis[hiredis]

anthropic
elevenlabs
openai

pycairo
pydantic
pydub
pypdf[crypto]
python-dotenv
ffmpeg-python
python-multipart
python-slugify

ruff
seewav
setuptools


lxml 
beautifulsoup4 
async-web-search
python-docx