anthropic

asyncio
elevenlabs
fastapi
fastapi-utilities
ffmpeg-python

firebase-admin
google-api-python-client
google-auth
google-cloud-storage
google-generativeai
gunicorn
httpx

openai

pycairo
pydantic
pydub
python-dotenv
python-multipart
python-slugify

ruff
seewav
setuptools
uvicorn
uvloop
redis[hiredis]

async-web-search